@import url(https://fonts.googleapis.com/css?family=Raleway:100,300,700);

html {border-top:5px solid #139f85;}
body {font-family:"Raleway", Helvetica, Arial; font-size:1.125em; line-height:1.5em; font-weight:300;}

h1 {margin:0; font-size:3.125em; line-height:1em; color:#444; text-transform:uppercase; font-weight:100;}
h1 strong {font-weight:700; color:#139f85;}
h1:after {content:""; margin:0.45em 0 0.5em; display:block; height:10px; background:url('images/div.svg') no-repeat;}
h2 {margin:1.25em 0 0.4em; display:block; font-weight:100; font-size:1.75em;}

a {color:#139f85; text-decoration: none; border-bottom:1px dashed #139f85;
    -webkit-transition:all 250ms ease-in-out;
       -moz-transition:all 250ms ease-in-out;
            transition:all 250ms ease-in-out;
}
a:hover {background: #139f85; color:#fff;}

.wrapper {margin:4em auto; width:100%;}
.container {padding:0 1em;}

.icons {margin:2em 0; padding:0;  overflow: hidden;}
.icons li {margin:1em 0; width:90%;  list-style-type:none;}
.icons img {margin:0; display:block;}
.icons a {text-decoration: none; border:none; color:#777;}
.icons a:hover {color:#139f85;}
.icons p {margin:0; padding:0.125em 0 0; font-size:1.1em;}

.icons .dribbble,
.icons .behance,
.icons .contact,
.icons .codepen {display:block; padding:0 0 0 2.35em;}

.icons .dribbble {background:url('images/dribbble.svg') no-repeat;}
.icons .behance {background:url('images/behance.svg') no-repeat;}
.icons .contact {background:url('images/email.svg') no-repeat;}
.icons .codepen {background:url('images/codepen.svg') no-repeat;}

@media only screen and (min-width:37.5em) {
.wrapper {max-width:700px;}
.icons li {float:left; margin-right: 5%; width:20%; text-align: center;}
.icons p {padding:0.25em 0 0;}
.icons .dribbble,
.icons .behance,
.icons .contact,
.icons .codepen {display:inline; padding:12% 0 0 2em;}
.icons .dribbble:hover,
.icons .behance:hover,
.icons .contact:hover,
.icons .codepen:hover {padding-top:1.1em;}
}
